.about {
  padding-bottom: 30px;
  &__text {
    color: $font-color;
    margin: 0 20px;
  }
}

.personal-data {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 15px 0;
  justify-content: space-around;
  // align-content: center;
  // align-items: center;
  // flex: no-wrap;
  color: $font-gray;

  .info {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    @include from(l) {
      width: 50%;
      text-align: left;
    }

    &__title {
      margin-right: 20px;
      text-transform: uppercase;
      font-weight: 500;
    }
    &__link {
      color: $font-gray;
    }
  }
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;

  .card {
    width: 20%;
    &__title {
      font-size: 0.9rem;
    }

    &__description {
      font-size: 0.8rem;
    }
    img {
      max-height: 100px;
      object-fit: cover;
    }

    &__technologies {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.7rem;

      span {
        background-color: lighten($font-light-gray, 0.4);
        color: $font-color;
        border-radius: 5px;
        padding: 2px 4px;
        margin: 5px 5px 0 0;
      }
    }
  }
}
