.education {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  @include from(l) {
    padding-bottom: 5px;
  }

  &-courses {
    width: 100%;
    @include from(l) {
      width: 60%;
    }
  }

  &-skills {
    width: 100%;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include from(l) {
      width: 40%;
    }
  }

  &__course {
    margin: 20px 0;
    padding: 0 0 15px 25px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 80%;
      height: 1.5px;
      border: 0 solid red;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right, $complementary, transparent);
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: $font-color;
  }

  &__school {
    margin: 8px 0;
    padding: 0;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 0.9rem;
    text-transform: uppercase;
    color: $font-gray;
  }

  &__time {
    @include fontCaption;
    margin: 0;
    padding: 0;
    color: $font-gray;
  }
}

.skill {
  width: 100%;
  padding: 0 15px;

  &__name {
    margin: 8px 0;
    color: $font-color;
  }

  &__percentage {
    border: 0px solid red;
    background: $font-light-gray;
    border-radius: 8px;
    height: 16px;

    &::before {
      content: '';
      display: block;
      height: 100%;
      border-radius: 8px;
      background: $secondary;
    }
  }

  @for $i from 5 to 100 {
    .percentage-#{$i} {
      &::before {
        width: $i * 1%;
      }
    }
  }
}
