#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, rgba($accent, 0.7) 0%, $linkedin 100%);
  overflow-x: hidden;

  @include from(m) {
    padding: 0 15px;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
