.container {
  width: 100%;
  overflow-x: hidden;
  background: $font-white;
  color: $font-color;
  margin-bottom: 50px;
  padding: 0 10px;
  // box-shadow: 2px -2px 5px 2px rgba($white, 1);
  @include from(l) {
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 9px;
    width: 60%;
    max-width: 785px;
    border-radius: 0 9px 9px 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .right .button {
    margin-right: 1rem;
  }
}
